.wrap-elements{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 8px;
    padding: 8px;
}

.wrap-elements > div {
    background-color: #adc5d873;
    text-align: center;
    font-size: 30px;
    min-height: 260px;
    height: auto;
  }

.item1 {
    grid-column: 1 / span 4;
    grid-row: 1;
}

.item2 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.item3 {
    grid-column: 3 / span 2;
    grid-row: 2;
}

.item4 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}
.item5 {
    grid-column: 3;
    grid-row: 3 / span 2;
}

.item6 {
    grid-column: 4;
    grid-row: 3 / span 2;
}

img{
    height: 260px;
    width: 100%;
}

.item1 > img {
    height: 260px;
    width: 100%;
}

.item5 > img {
    height: 520px;
    width: 100%;
}

.item6 > img {
    height: 520px;
    width: 100%;
}

.carousel-control-prev {
    left: 0;
    background-color: #fffdfd;
    top: 80px;
    bottom: 80px;
    width: 60px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 1;
}