<div class="wrap-elements">
  <div class="item1">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide *ngFor="let image of images">
        <img [src]="image" alt="Random first slide">
        <div class="carousel-caption">
          <h3></h3>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="item2">2</div>
  <div class="item3">3</div>
  <div class="item4">4</div>
  <div class="item5">5</div>
  <div class="item6">6</div>
  <div class="item7">7</div>
  <div class="item8">8</div>
  <div class="item9">9</div>
  <div class="item10">10</div>
  <div class="item11">11</div>
  <div class="item12">12</div>
</div>