.wrap-elements{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 8px;
    padding: 8px;
}

.wrap-elements > div {
    background-color: #adc5d873;
    text-align: center;
    font-size: 30px;
    min-height: 200px;
    height: auto;
  }