<div class="navbar-items">
  <div class="nav-item">
    <div class="dropbtn">
      <i class="fa fa-handshake-o" aria-hidden="true"></i>
        <a [routerLink]="['']">Home</a> 
      <i class="fa fa-angle-down"></i>
    </div>
  </div>
  <div class="nav-item">
    <div class="dropdown">
      <button class="dropbtn">Sari</button>
      <div class="dropdown-content">    
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="nav-item">
    <div class="dropdown">
      <button class="dropbtn">Salwar Kameez</button>
      <div class="dropdown-content">    
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="nav-item">
    <div class="dropdown">
      <button class="dropbtn">Trowser</button>
      <div class="dropdown-content">    
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="nav-item">
    <div class="dropdown">
      <button class="dropbtn">Churidar</button>
      <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="nav-item">
    <div class="dropdown">
      <button class="dropbtn">Item</button>
      <div class="dropdown-content">    
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="nav-item">
    <div class="dropdown">
      <button class="dropbtn">Item</button>
      <div class="dropdown-content">    
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
</div>