<div class="navbar-elements">
  <div class="nav-element">
    <div class="dropbtn">
      <a [routerLink]="['']">Home</a> 
    </div>
  </div>
  <div class="nav-element">
    <div class="dropdown">
      <button class="dropbtn">Saree
        <i class="fa fa-angle-down"></i>
      </button>
      <div class="dropdown-content">    
      <a [routerLink]="['products/saree']">Kanjeevaram Silk</a>
      <a [routerLink]="['products/saree']">Kalamkari</a>
      <a [routerLink]="['products/saree']">Sambalpuri</a>
      </div>
    </div>
  </div>
  <div class="nav-element">
    <div class="dropdown">
      <button class="dropbtn">Salwar Kameez
        <i class="fa fa-angle-down"></i>
      </button>
      <div class="dropdown-content">    
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="nav-element">
    <div class="dropdown">
      <button class="dropbtn">Trowser
        <i class="fa fa-angle-down"></i>
      </button>
      <div class="dropdown-content">    
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="nav-element">
    <div class="dropdown">
      <button class="dropbtn">Churidar</button>
      <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="nav-element">
    <div class="dropdown">
      <button class="dropbtn">Item</button>
      <div class="dropdown-content">    
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="nav-element">
    <div class="dropdown">
      <button class="dropbtn">Item</button>
      <div class="dropdown-content">    
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
</div>