<div class="md-dialog-container">
  
  <div class="section-1"></div>

  <div class="section-2">
    <mat-form-field>
      <input matInput placeholder="Name">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Email">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Phone No">
    </mat-form-field>

    <button mat-raised-button color="primary">Proceed</button>

  </div>
    
  <button mat-raised-button color="primary"></button>
  <button mat-raised-button color="primary">Proceed</button>
  
</div>