.md-dialog-container {
    width: 450px;
    height: 350px;
    display: grid;
    grid-template-columns: auto;
    padding-right: 20px;
}

.self{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
}
.sign-up-with-others{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 48% 48%;
    padding-top: 5%;
}

.sign-up-with-others > p{
    font-family: Roboto,Arial,sans-serif;
}