<div class="md-dialog-container">
    <mat-tab-group>
      <mat-tab label="Login"> 
        <div class="self">
          <mat-form-field>
            <input matInput placeholder="User Id">
          </mat-form-field> 
        </div>
        <div class="self">
          <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field>
        </div> 
        <button mat-raised-button color="primary">Submit</button>
      </mat-tab>
      <mat-tab label="Sign Up"> 
        <div class="self">
          <mat-form-field>
            <input matInput placeholder="Name">
          </mat-form-field>
        
          <mat-form-field>
            <input matInput placeholder="Email">
          </mat-form-field>
        
          <mat-form-field>
            <input matInput placeholder="Phone No">
          </mat-form-field>

          <mat-form-field>
              <input matInput placeholder="Password">
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Submit</button>
    
        <div class="sign-up-with-others">
    
          <p>or sign up with</p><br>
    
          <button mat-raised-button color="warn">Google</button>
          <button mat-raised-button color="accent">Face Book</button>
        </div>  
    </mat-tab>
  </mat-tab-group>
</div>