<div class="grid-content-elements">
  <div class="header">
    <div class="logo">
      <a [routerLink]="['']">
        <img src="../assets/logo.png" class="logo1" alt="Company logo">
      </a>
    </div>
    <div class="header-items">
      <a href="javascript: void(0);" (click)="openDialog()">Login & Signup</a>
      <a [routerLink]="['/chart']"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a>
    </div>
  </div>
  <div class="navbar-element">
    <app-navbar></app-navbar>
  </div>
  <div class="content-elements">
    <router-outlet></router-outlet>
  </div>  
  <div class="sidebar">Left Side Bar</div>
  <div class="footer">Footer</div>
</div>