<div class="grid-container">
  <div class="header">
    <div class="logo">
      <a href="#">
        <img src="../assets/logo.png" style="height:45px;" class="logo1" alt="Company logo">
      </a>
    </div>
    <div class="header-items">
      <a [routerLink]="['/login']">Login & Signup</a>
      <a [routerLink]="['/chart']">Cart</a>
    </div>
  </div>
  <div class="navbar">
      <div class="navbar-items">
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['login']">Churidar</a>
        <a [routerLink]="['cart']">Salwar & Kameez</a>
        <a [routerLink]="['cart']">Jeans</a>
        <a [routerLink]="['login']">Shorts</a>
        <a [routerLink]="['cart']">Skirts</a>
        <a [routerLink]="['cart']">Trousars</a>
      </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>  
  <div class="sidebar">Left Side Bar</div>
  <div class="footer">Footer</div>
</div>

