@charset "UTF-8";
a, a:hover {
    text-decoration: none;
}
@media only screen and (min-width: 600px) {
    
    /****************************HEADER*******************************************/
    .header { 
        grid-area: header; 
        background-color: #3c69c3;
        display: grid;
        grid-template-columns: 10px 1fr 5fr 10px 2fr;
        grid-template-areas: '. logo . . header-items';
        justify-items: center;        
        align-items: center;
    }

    .logo{
        grid-area: logo;
    }

    .header-items{
        grid-area: header-items;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
    }

    .header-items > a{
      color: #f1f3f6;
      font-family: Roboto,Arial,sans-serif;
      font-weight: bolder;
    }

    /***********************************NAV BAR************************************/

    .navbar-element { 
        grid-area: navbar-element;
        display: grid;
        grid-template-columns: auto;
        justify-items: center;        
        align-items: center;
        background-color: white;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 999;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    }

    /*************************************content-elements**********************************/

    .content-elements { 
        grid-area: content-elements; 
        background-color: #f0f2f5;
        margin-top: 4px;
    }

    /*************************************Side Bar**********************************/
    .sidebar { 
        grid-area: sidebar;
        display: none;
     }

    /***************************************Footer********************************/

    .footer { 
        grid-area: footer; 
        display: grid;
        background-color: #162337;
        color: #77787b;
        font-family: Roboto,Arial,sans-serif;
        font-weight: 100px;
        min-height: 265px;
        justify-items: center;
        align-items: center;
    }

    .grid-content-elements {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 58px 40px minmax(500px, auto) 50px;
        grid-template-areas:
          'header'
          'navbar-element'
          'content-elements'
          'footer';
      }
}

@media only screen and (max-width: 600px) {
    /****************************HEADER*******************************************/
    .header { 
        grid-area: header; 
        background-color: #3c69c3;
        display: grid;
        grid-template-columns: 10px 1fr 5fr 10px 2fr;
        grid-template-areas: '. logo . . header-items';
        justify-items: center;        
        align-items: center;
    }

    .logo{
        grid-area: logo;
    }

    .header-items{
        grid-area: header-items;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
    }

    .header-items > a{
      color: #f1f3f6;
      font-family: Roboto,Arial,sans-serif;
      font-weight: bolder;
    }

    /***********************************NAV BAR************************************/

    .navbar-element { 
        grid-area: navbar-element;
        display: none;
    }

    /*************************************content-elements**********************************/

    .content-elements { 
        grid-area: content-elements; 
        background-color: #f0f2f5;
        margin-top: 4px;
    }

    /*************************************Side Bar**********************************/
    .sidebar { 
        grid-area: sidebar;
        display: none;
     }

    /***************************************Footer********************************/

    .footer { 
        grid-area: footer; 
        display: grid;
        background-color: #162337;
        color: #77787b;
        font-family: Roboto,Arial,sans-serif;
        font-weight: 100px;
        min-height: 265px;
        justify-items: center;
        align-items: center;
    }

    .grid-content-elements {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 58px 40px minmax(500px, auto) 50px;
        grid-template-areas:
          'header'
          'navbar-element'
          'content-elements'
          'footer';
      }

}