<div class="grid-container">
  <div class="header">
    <div class="logo">
      <a href="#">
        <img src="../assets/logo.png" style="height:45px;" class="logo1" alt="Company logo">
      </a>
    </div>
    <div class="header-items">
      <a href="javascript: void(0);" (click)="openDialog()">Login & Signup</a>
      <a [routerLink]="['/chart']">Cart</a>
    </div>
  </div>
  <div class="navbar">
    <div class="navbar-items">
      <div class="nav-item">
        <div class="dropbtn">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <a [routerLink]="['']">Home</a> 
          <i class="fa fa-angle-down"></i>
        </div>
      </div>
      <div class="nav-item">
        <div class="dropbtn">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <a href="javascript: void(0);">Shirts</a> 
          <i class="fa fa-angle-down"></i>
          <div class="dropdown-content">
            <a href="#">Items</a>
            <a href="#">Projects</a>
            <a href="#">Rate Chart</a>
            <a href="#">Vendors</a>
          </div>  
        </div>
      </div>
      <div class="nav-item">
        <div class="dropbtn">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <a href="javascript: void(0);">Churidar</a> 
          <i class="fa fa-angle-down"></i>
          <div class="dropdown-content">
            <a href="#">Items</a>
            <a href="#">Projects</a>
            <a href="#">Rate Chart</a>
            <a href="#">Vendors</a>
          </div>  
        </div>
      </div>
      <div class="nav-item">
        <div class="dropbtn">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <a href="javascript: void(0);">Salwar & Kameez</a> 
          <i class="fa fa-angle-down"></i>
          <div class="dropdown-content">
            <a href="#">Items</a>
            <a href="#">Projects</a>
            <a href="#">Rate Chart</a>
            <a href="#">Vendors</a>
          </div>  
        </div>
      </div>
      <div class="nav-item">
        <div class="dropbtn">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <a href="javascript: void(0);">Shorts</a> 
          <i class="fa fa-angle-down"></i>
          <div class="dropdown-content">
            <a href="#">Items</a>
            <a href="#">Projects</a>
            <a href="#">Rate Chart</a>
            <a href="#">Vendors</a>
          </div>  
        </div>
      </div>
      <div class="nav-item">
        <div class="dropbtn">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <a href="javascript: void(0);">Skirts</a> 
          <i class="fa fa-angle-down"></i>
          <div class="dropdown-content">
            <a href="#">Items</a>
            <a href="#">Projects</a>
            <a href="#">Rate Chart</a>
            <a href="#">Vendors</a>
          </div>  
        </div>
      </div>
      <div class="nav-item">
        <div class="dropbtn">
          <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <a href="javascript: void(0);">Trousars</a> 
          <i class="fa fa-angle-down"></i>
          <div class="dropdown-content">
            <a href="#">Items</a>
            <a href="#">Projects</a>
            <a href="#">Rate Chart</a>
            <a href="#">Vendors</a>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>  
  <div class="sidebar">Left Side Bar</div>
  <div class="footer">Footer</div>
</div>

