.wrap-elements{
    padding-left: 17px;
    background-color: white;
    padding: 8px;
}

img{
    height: 400px;
    width: 75%;
}

.sm-imgs > img{
    padding: 5px;
    height: 65px;
    width: 100%;
}

.bg-img{
    padding: 15px;
}

.center{
    text-align: center;
}